.users-table{
  text-align: center;
  border: 1px black solid;
  height: 300px;
  width:300px;
  margin-left: auto;
  margin-right: auto;
}
h1{
 text-align: center;
}
.users-show ,.users-signup,.users-login{
margin: auto;
text-align: center;
}